:root {
  /* background */
  --light-bg-color: #F1F1F1;
  --dark-bg-color: #333;
  /* texts */
  --light-maintitle: #333;
  --dark-maintitle: #FEF2BF;
  --light-subtitle: #333;
  --dark-subtitle: #FEF2BF;
  --light-controls: #333;
  --dark-controls: #FEF2BF;
  /* dialogs */
  --light-border-img-src: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  --dark-border-img-src: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  /* checkbox  */
  --light-checkbox: #333;
  --dark-checkbox: #FEF2BF;
}

body {
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  background-color: #F1F1F1;
  /* background-color: #f1f1f1; */
  /* disable text highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  /* disable scrolling */
  /* overflow: hidden; */
}

.dark-body {
  background-color: #212529;
}

h1 {
  font-size: 3rem;
  color: #000;
}

.dark-h1 {
  color: #FEF2BF;
  /* text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black; */
}

h2 {
  color: #000;
}

.dark-h2 {
  color: #FEF2BF;
}

.headings {
  margin:  5%;
  margin-top: 2%;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

/* .game-btn.dark-container {
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
} */

.game-btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.controls {
  font-size: 1rem;
  margin: 3%
}

.dark-controls {
  color: #FEF2BF;
}

.title {
  font-weight: bold;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #e76e55;
}

.green {
  background-color: #92cc41;
}

.blue {
  background-color: #209cee;
}

.yellow {
  background-color: #f7d51d;
}

/*  MODALS/DIALOGS  */

.modal-bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto; /* horizonatally centered */
  padding: 20px;
  border-style: solid;
  /* vertically center */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* rounded nes border */
  border-width: 4px;
  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
}

.how-to-play {
  width: 70%;
  min-width: 470px;
}

.options {
  width: 30%;
  min-width: 470px;
}

.about {
  width: 45%;
  min-width: 470px;
}

/*  DARK MODE  */

.dark-dialog {
  color: #fff;
  background-color: #212529;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 0;
}

/*  OTHER STYLING  */

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.pointer:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer
}

.padding-left-0 {
  padding-left: 0px;
}

.text-left {
  text-align: left;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.align-self-center {
  align-self: center;
}
