body {
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  background-color: #011F3F;
  /* disable text highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  /* disable scrolling */
  /* overflow: hidden; */
}

#level-title {
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.game-btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
}

/* .btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
} */

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #e76e55;
}

.green {
  background-color: #92cc41;
}

.blue {
  background-color: #209cee;
}

.yellow {
  background-color: #f7d51d;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/*  */

.controls {
  font-size: 1rem;
  color: #BFCBFF;
  margin: 3%
}

.pointer:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer
}

.modal-display {
  display: none;
}

.padding-left-0 {
  padding-left: 0px;
}
